html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: .5em;
  line-height: 1.25em;
  /* include your font family and default line-height */
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #75A16A;
}

li {
  font-size: .5em;
}

h2 {
  font-family: "Inder", sans-serif;
}

h3 {
  font-family: "Inder", sans-serif;
  color: #75A16A;
}

p {
  font-family: "Istok Web", sans-serif;
  font-size: .9em;
}

li {
  font-family: "Istok Web", sans-serif;
  font-size: .9em;
}

img {
  border-radius: 10px;
}

.images {
  display: grid;
  grid-template-columns: 76% 24%;
  border-radius: 1;
  grid-gap: .25em;
  grid-template-areas:
    "feature img2"
    "feature img3"
    "feature img4"
  ;
  margin: .5em;
}

.feature {
  grid-area: feature;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3
}

.img4 {
  grid-area: img4;
}

.button {
  color: white;
  background-color: #224229;
  width: 35%;
  font-family: "Istok Web", sans-serif;
  display: block;
  text-decoration: none;
  padding: .6em;
  text-align: center;
  border-radius: 10px;
  margin: auto;

}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

footer {
  text-align: center;
  font-family: "Inder", sans-serif;
}


/* Default styling for all screens ends here */

/* Add media query for tablet */

@media only screen and (min-width: 38em){

}


/* Add media query for desktop */
@media only screen and (min-width: 60em){

}
